<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>

<template name="header">
    <haader>
        <h1>Welcome to My Project!</h1>
    </haader>
</template>